li,
p {
  font-size: 28px;
  padding: 5px;
}

ol {
  padding-left: 15%;
  margin-top: 10%;
}

.settings {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
  float: left;
  padding: 15px;
}
.col-2 {
  width: 16.66%;
  float: left;
  padding: 15px;
}
.col-3 {
  width: 25%;
  float: right;
  padding: 15px;

  position: relative;
}
.col-4 {
  width: 33.33%;
  float: left;
  padding: 15px;
}
.col-5 {
  width: 41.66%;
  float: left;
  padding: 15px;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 15px;
}
.col-7 {
  width: 58.33%;
  float: left;
  padding: 15px;
}
.col-8 {
  width: 66.66%;
  float: left;
  padding: 15px;
}
.col-9 {
  width: 75%;
  float: left;
  padding: 15px;
}
.col-10 {
  width: 83.33%;
  float: left;
  padding: 15px;
}
.col-11 {
  width: 91.66%;
  float: left;
  padding: 15px;
}
.col-12 {
  width: 100%;
  float: left;
  padding: 15px;
}

.code {
  display: block;
  padding: 5%;
  height: 175px;
  margin-top: 15%;
}

button {
  max-width: 100%;
  background-color: yellow;
  margin-left: 7%;
}
